.container-fluid 
.haut
{
    padding: 0 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row
{ 
    margin-left: 0px;
    margin-right: 0px; 
    width: 100%;
    padding: 0 0;
}

.container {
    padding :  0;
}

/* --------- Polices ----------- */
@font-face 
{
    font-family: 'droid_sansregular';
    src: url('font/DroidSans-webfont.eot');
    src: url('font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DroidSans-webfont.woff') format('woff'),
         url('font/DroidSans-webfont.ttf') format('truetype'),
         url('font/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, ul, p
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

/*----- couleur background container gauche ----*/

.yellow
{
	background-color: #FFC107;
}

/* ----------- header ------------*/

#haut
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* image */
.header_image
{   
    display: flex;
    justify-content: center;
    min-height: 30px;
    width: 25%;
    background-color: #FFC107;
}

#imageportrait
{
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
}

/* nom + titre */
.header_nom
{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 70px;
}

#prénom_titre
{
    color: #FFC107;;
}

h1
{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0 40px;
    margin-bottom: 5px;
}

#developpeurweb
{
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 0 40px;
    margin-bottom: 60px;
}


/*----------- elements blocs de gauche -----------*/

/* titres */
#gauche h3
{
    font-size: 1.20em;
    font-weight: bold;
	text-align: center;
	background-color: black;
	color: #FFC107;
	padding: 4%;
}

/* contact */
#contact_text
{
	margin-left: 40px;
	padding: 20px 0;
}

/* a propos */
#a_propostext
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 685px;
	text-align: justify;
}


/* -------------- Elements de droite -------------- */

/* titres rubriques */
.titre_section 
{
	padding: 0 40px;
    margin-top: 5px;
}

h2 
{
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

/* ------ bloc formation -------- */

#bloc_formation
{
	text-align: justify;
    margin-bottom: 50px;
}

/* articles */
.article
{
	display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 0 40px;
}

/* date et lieu */
.datelieu 
{
    display: flex;
    flex-direction: row;
    width: 35%;
}

.datelieu i
{
    margin-right: 20px;
  	margin-top: 20px;
    padding-top: 4px;
    color: #FFC107;
}

.article p 
{
	text-align: justify;
	margin-top: 15px;
}


/* detail */
.detail
{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.detail p
{
 	text-align: justify;
 	margin-bottom: 8px;
}

/* ------bloc experiences -------- */

#bloc_experiences
{
	text-align: justify;
    margin-top: 20px;
}

/* ------bloc recommandations -------- */



#bloc_recommandations article  
{
	display: flex;
	flex-direction: row;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
}
.recommandation 
{
	width: 50%;
	text-align: start;
}



.titre_section i 
{
	color: #FFC107;
	padding-right: 10px;
}

h2
{
    color: black;
}


/* ---------- Lignes CSS ---------- */
#dev
{
	text-decoration: underline;
	text-decoration-color: #FFC107;
    text-underline-position: under;
}

.surline
{
	border-bottom: 2px solid #FFC107;
    margin-top: -10px;
    margin-left: 40px;
    margin-right: 40px;
    min-width: 70%
}

/* ---------- Icones ----------- */

#Logos
{
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

#Logos i 
{
   	line-height: 1em;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 0 17px;
    margin-top: 25px;
}


/* ------------ RESPONSIVE ------------ */

@media only screen and (max-width: 1200px) {
    .container
    {
        min-width: 100%;
    }
    .haut
    {
        min-width: 100%;
    }
    .header_image
    {
        min-width: 100%;
    }
    .header_nom
    {
        min-width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #developpeurweb
    {
        margin-bottom: 0px;
    }
    .row
    {
        width: 100%;
    }

    .yellow
    {
        min-width: 100%;
    }
    #gauche
    {
        min-width: 100%;
        flex-direction: column;
    }
    #a_propostext
    {
        margin-bottom: 40px;
    }
    #gauche h3
    {
        padding: 20px 10px;
    }
    #bloc_milieu
    {
        min-width: 100%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .article 
    {
        flex-direction: column;
    }
    .datelieu,
    .detail 
    {
        width: 100%
    }
    .detail p 
    {
        padding: 0 32px;
    }
    .container
    {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .header_image
    {
        width: 100%;
        background-color: #FFC107;
    }
    .header_nom
    {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 1em;
    }
    #bloc_milieu
    {
        margin: auto;
    }
    #a_propostext
    {
        margin-bottom: 40px;
    }

}


@media only screen and (max-width: 350px) {
    .titre_section
    {
        font-size: 1.3em;
    }
}



